.main-body {
    background-color: #ffffff
}

.bg-pink {
    background-color: #e83b35ed !important;
}

.nav-bar li {
    color: white !important;
}

.nav-link {
    color: white !important;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
}

.nav-item:hover {
    background-color: orange;
    border-radius: 5px;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
}

.rounded.small {
    width: 50px;
    height: 50px;
    border-radius: 50px !important;
    border: 3px solid white;
}

.rounded.medium {
    width: 70px;
    height: 70px;
    border-radius: 70px !important;
    border: 3px solid white;
}

.rounded.large {
    width: 100px;
    height: 100px;
    border-radius: 100px !important;
}

.flat {}

.fancy-bg {
    width: 100%;
    height: 410px;
    position: absolute;
    padding: 65px;
    background-image: url('../images/details.jpg');
}

.details {
    width: 100%;
    height: 410px;
    position: relative;
    padding: 65px;
    opacity: 0.95;
    /* background-image: url('/images/details.jpg') */
}

.txt-white {
    color: white;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h6 {
    font-weight: 100 !important;
    font-weight: 1.5rem !important;
}

.social {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.social-item {
    margin: 5px;
    list-style: none;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.social-item a:hover {
    color: orange !important
}

.underline {
    width: 35px;
    height: 2px;
    background: white;
    justify-content: center;
    margin: 0 auto;
}

.portfolio-card {
    position: relative;
    top: -72px;
    background: white;
    width: 68%;
    margin: 0 auto;
    border-radius: 14px;
    padding: 17px;
    box-shadow: 0px 0px 0px black;
}

.portfolio-img {
    position: inherit;
    width: 100%;
}

.portfolio-item {
    padding: 0 !important;
    height: 100%;
}

.load {
    position: relative;
    margin: -58px 0px 35px 0px;
    text-align: center;
}

.bg-organe {
    background-color: orange !important;
}

.btn-primary {
    background: orange !important;
    border-color: orange !important;
}

.review-bg {
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: url('../images/details.jpg')
}

.reviews {
    position: relative;
    width: 100%;
    height: 350px;
    opacity: 0.95;
    padding: 6%;
    text-align: center;
}

.slider {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background: rebeccapurple;
    width: 70%;
    padding: 22px;
}

.slider-item {
    position: relative;
}

.review-img {
    display: flex;
    flex: 1;
    margin: 0 auto;
}

.review-img li {
    margin: 5px;
}

.review-img-item {
    list-style: none;
}

.about-me {
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 3%;
}

.about-me p {
    text-align: justify;
}

.about-me h4 {
    color: orange;
    font-family: 'Philosopher', sans-serif;
}

.about-me h5 {
    font-weight: 100;
    font-family: 'Philosopher', sans-serif;
}

.about-me-work .far {
    font-size: 0.9rem !important;
}

.about-me-work {
    font-weight: 200;
}

.what-i-do-bg {
    position: absolute;
    width: 100%;
    background: #e83b35;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
}

.what-i-do {
    position: relative;
    background-image: url('../images/details.jpg');
    width: 100%;
    height: fit-content;
    padding: 5%;
    margin: 0 auto;
    color: white;
    z-index: 99;
}

.what-i-do h4 {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

.what-i-do h5 {
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase
}

.what-i-do p {
    text-align: justify;
}

.need-help {
    text-align: center;
    padding: 4%;
    font-family: 'Philosopher', sans-serif;
}

.need-help p {
    color: orange;
}

.contact-bg {
    position: absolute;
    width: 100%;
    background: #e83b35;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
}

.contact {
    position: relative;
    background-image: url('../images/details.jpg');
    width: 100%;
    height: fit-content;
    padding: 5%;
    margin: 0 auto;
    color: white;
    z-index: 99;
}

.title h4,
.title p {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    text-transform: capitalize;
}

.info {
    margin: 0 auto !important;
    text-align: center;
}

.info h5 {
    text-transform: uppercase;
    font-weight: 500;
}

.footer {
    font-family: 'Philosopher', sans-serif;
    color: white;
    text-align: center;
}

.footer i {}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #e83b35;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: orange;
}